:root {
    --blossom: #e7fcd9;
    --koi-red: #d83b54;
    --koi-gray: #c6d1bf;
    --koi-red-hover: #b42447;
    --koi-yellow: #cdaa16;
    --lilypad: rgba(14, 109, 84, 0.37);
}

@font-face {
    font-family: "Catboo";
    src: url("./Catboo.woff") format("woff"),
        url("./Catboo.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-stretch: 400;       
}

@font-face {
    font-family: "CreamDEMO";
    src: url("./cream-DEMO.woff") format("woff"),
        url("./cream-DEMO.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./koi-fish_bkgd.gif);
    display: grid;
    grid-template-rows: 1fr 8fr;
}

nav {
    margin: 0;
    padding: 10px;
    background-color: rgba(249, 253, 250, 0.6);
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    align-items: center;
}

h1, h2, p, button, li {
    font-family: "CreamDEMO", "Trebuchet MS", sans-serif;
}

h3 {
    font-family: "Catboo", "Helvetica", sans-serif;
    font-size: 2rem;
    color: var(--koi-red);
}

a {
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

p {
    color: var(--blossom);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    overflow: scroll;
    justify-items: start;
    align-items: center;
}

.tab {
    width: 5rem;
    height: 2.25rem;
    margin: 5px;
    border: none;
    border-radius: 3rem;
    background-color: var(--koi-red);
    color: var(--blossom);
    font-size: 1rem;
}

.tab:hover {
    background-color: var(--koi-red-hover);
    cursor: pointer;
}

.icon {
    width: 2.5vw;
    height: auto;
    margin: 5px;
    cursor: pointer;
}

.hero, .reviews, .menu-instructions, .entree-menu, .side-menu {
    margin: 2vw;
    padding: 3.5vw;
    width: 95%;
    min-height: fit-content;
    background-color: var(--lilypad);
    color: var(--blossom);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.note {
    margin-top: 1.5vw;
    font-size: 1.5rem;
}

.info {
    margin: 2vw;
    padding: 1.5vw;
    width: 95%;
    height: fit-content;
    background-color: var(--lilypad);
    border-radius: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.modes h3, .location h3 {
    color: var(--koi-yellow);
}

.modes {
    width: 49%;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location {
    width: 49%;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.entrees, .sides {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.entrees {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sides {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.example {
    width: 15vw;
    height: auto;
    align-self: center;
    justify-self: center;
}

.item {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
}

.section {
    height: 15vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
}

.logomini {
    font-size: 2.5rem;
}

.headshot {
    margin: 0.5vw;
    padding: 0.75vw;
    width: 20vw;
    height: 50vh;
    background-color: var(--lilypad);
    border-radius: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.friend {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

#logo-text {
    font-family: "Catboo", "Helvetica", sans-serif;
    font-size: 3.25rem;
    color: var(--koi-red);
}

#slogan {
    margin-top: 1.5vh;
}

#hours {
    margin-top: 1.5vw;
    font-size: 1rem;
}

#menuhead {
    font-family: "Catboo";
    color: var(--koi-red);
}

#directions {
    margin-top: 1.5vw;
}

#asterisk {
    font-size: 1rem;
    align-self: end;
}

#item-name {
    align-self: start;
}

#desc {
    text-align: start;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#important {
    text-align: center;
}

#bios {
    margin: 2vw;
    padding: 3.5vw;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
}